.navButton{
    grid-row:2/3;
    text-decoration: none;
    margin: 16px;
    font-size: 19px;
}
.navButton:hover{
    cursor: pointer;
    color: #B22222;
}

.navDropButton{
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    margin: 16px;
    font-size: 19px;
    grid-column: 1/3;
    text-align: center;
}

@media screen and (max-width: 760px){
    .navButton{
        display: none;
    } 
}