.navButton{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.navButton:hover{
    cursor: pointer;
    color: #1EF1DC;
}

.navDropButton{
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1130px){
    .navButton{
        display: none;
    } 
}